.banner-main-container{
    &__header{
        color: yellow;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Fredoka One', cursive;
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
    }
}